extends ./includes/layout
block head
	link(rel="stylesheet", href="/css/detail.css")
block content
	div.item
		h3.title!= item.title
		p.meta
			img(src="#{item.source.icon}").img-responsive
			span #{item.source.name}
		each content in item.content
			p
				if (content.type === 'img')
					img.lazy(data-original="#{content.value}")
				else
					p!= content.value