extends ./includes/layout
block content
	div.container
		div.row
			each item in items
				div.col-md-12
					a(href="/detail/#{item.source}/#{item.sid}")
						img(src="#{item.img}", class="img-responsive")
						p #{item.name}
						p #{item.info}
